alembic==0.7.6
altair==3.3.0
altgraph==0.16.1
awscli==1.19.57
astroid==1.2.0
beaker==1.10.0
beautifulsoup4==4.6.0
boto==2.46.1
boto3==1.17.57
camelot-py==0.8.2
cffi==1.10.0
configparser==3.7.4
coverage==4.4.1
deepdiff==3.3.0
defusedxml==0.6.0
docutils==0.14
enum34==1.1.6
et-xmlfile==1.0.1
factory-boy==2.12.0
Faker==4.0.2
fixture==1.5.11
flake8==3.9.1
funcsigs==0.4
fuzzywuzzy==0.17.0
GeoAlchemy2==0.4.0
geopy==1.10.0
jdcal==1.4.1
jmespath==0.9.4
logilab-common==0.62.1
Mako==1.0.1
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.6.1
memory-profiler==0.38
mock==1.3.0
modulegraph==0.17
nose==1.3.7
#numpy==1.18.5
openpyxl==2.6.4
opencv-python==4.5.2.52
pandas==0.25.3
patsy==0.5.1
pbr==1.8.1
pdfminer.six==20201018
psutil==3.2.2
psycopg2==2.7.4
psycopg2-binary==2.7.4
pvlib==0.6.1
pycodestyle==2.7.0
pycparser==2.17
pyflakes==2.3.1
pylint==1.3.0
pyowm==2.3.1
PyPDF2==1.26.0
python-dateutil==2.8.0
python-Levenshtein==0.12.0
python-slugify==4.0.0
pytz==2017.2
requests==2.25.1
ruamel.yaml==0.16.10
s3transfer==0.4.2
scikit-learn==0.24.1
scipy==1.6.3
selenium==3.141.0
sh==1.12.14
SQLAlchemy==1.3.6
statsmodels==0.12.2
suds-py3==1.3.3.0
text-unidecode==1.3
tqdm==4.32.2
urllib3==1.26.4
wstools==0.4.8
xattr==0.9.2
xlrd==1.2.0
XlsxWriter==0.9.6
xmltodict==0.9.2
zeep==3.4.0
