boto3==1.17.57
google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
mypy==0.761
mypy-extensions==0.4.3
nose2==0.9.1
Pillow==5.2.0
PyPDF2==1.26.0
PyYAML==3.13
pandas==0.25.3
pdf2image==1.5.4
pdfminer.six==20201018
pytesseract==0.2.6
textract-trp==0.1.3
tqdm==4.36.1
